<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171170460767-unqf91cs8kqnvu13f2li0jnhdbord4vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171170460767-unqf91cs8kqnvu13f2li0jnhdbord4vl</string>
	<key>API_KEY</key>
	<string>AIzaSyBxXsuaUMeFhZMsX53Gfmhb3nHR_8VX5vM</string>
	<key>GCM_SENDER_ID</key>
	<string>171170460767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.datequettee.myproject</string>
	<key>PROJECT_ID</key>
	<string>product-58a37</string>
	<key>STORAGE_BUCKET</key>
	<string>product-58a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171170460767:ios:066c74f09519ee74</string>
	<key>DATABASE_URL</key>
	<string>https://product-58a37.firebaseio.com</string>
</dict>
</plist>